@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');

/*Hereda de Poptropica*/
:root {
    --MainFont: 'Poppins', sans-serif;
    --TitleFont:'Lexend Deca', sans-serif;
    --MainText: 1.8rem;
    --MainMargin: 0 0 2.0rem;
    --SecondaryText: 1.6rem;
    --MainLineHeight: 1.8;
    --SlidePadding: 5.0rem;
    --colorppal: 183, 40, 65;
}

/*Definimos estas reglas para que no dependan del font-size: 10px*/
html body:not(.edit),
 body.edit .navbar.libro {
    line-height: var(--MainLineHeight);
    font-size: var(--MainText);
    font-family: var(--MainFont)
}
#actividad .texto_curso,
 #actividad .texto_curso p {
     font-size: var(--MainText);
     line-height: var(--MainLineHeight) !important;
}
#actividad .workspace {
    font-size: var(--MainText);
    line-height: var(--MainLineHeight);
}
/*Padding de la slide*/
.body_clase:not(.edit):not(.book-summary) #actividad .class_slide {
    padding-left: var(--SlidePadding);
    padding-right: var(--SlidePadding);
    color: var(--TextColor);
}
/*------------------*/

/*TOC*/
#indice .units ul li {
    background: rgb(var(--colorppal));
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 0;
    margin-bottom: 8px;
    padding: 4px 8px
}
#indice .units ul li a .title {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin: -21px 0 0 35px;
    line-height: 18px;
    display: block
}

body:not(.isTablet) #indice .units ul li.active:not(.disabled) a .title,
body:not(.isTablet) #indice .units ul li:not(.disabled) a:hover .title {
    color: rgb(var(--colorppal))
}

#indice .units ul li.active:not(.disabled),#indice .units ul li:focus:not(.disabled),body:not(.isTablet) #indice .units ul li:hover:not(.disabled) {
    background: transparent;
    border: 2px solid rgb(var(--colorppal))
}



.btn-primary,.btn-primary.disabled {
    color: #fff;
    background-color: rgb(var(--colorppal));
    border-color: transparent;
    opacity: 1;
    border-radius: 0
}

body.content_type_clase_Majestic_CluesBae_dev {
    font-size: 1.8rem
}
a:active,
a:focus,
a:hover {
    outline: 0;
    color: rgb(var(--colorppal));
    text-decoration: none
}

body.content_type_clase_Majestic_CluesBae_dev #actividad .content img {
    padding: 5px
}

.is_app.content_type_clase_Majestic_CluesBae_dev {
    padding-top: 0
}

.content_type_clase_Majestic_CluesBae_dev #actividad {
    margin-bottom: 0;
    -webkit-transform: none;
    -webkit-transform-style: flat
}

#actividad .carousel-inner .item-container {
    margin: 20px auto
}

.content_type_clase_Majestic_CluesBae_dev #actividad .slide-concatenate {
    margin-top: 30px
}

/*---------- GENERALES ---------------*/
#actividad .texto_curso p p:last-child {
    margin-bottom: 0;
}

/*----------------------------*/
/*---- TITULO SLIDE ------------*/
.content_type_clase_Majestic_CluesBae_dev #actividad .content .header .chapter,
.content_type_clase_Majestic_CluesBae_dev #actividad .content .header .title img {
    display: none
}
.content_type_clase_Majestic_CluesBae_dev #actividad .content .header {
    border: none;
    background: rgb(var(--colorppal));
    width: calc(100% + var(--SlidePadding) * 2);
    margin-left: calc(-1 * var(--SlidePadding));
    padding: 0;
    display: flex;
    margin-bottom: 20px;
    min-height: 88px;
}
.content_type_clase_Majestic_CluesBae_dev #actividad .content .header.empty {
    display: none;
}
.content_type_clase_Majestic_CluesBae_dev #actividad .content .header .title {
    margin: 0 0 20px;
    background: rgb(var(--colorppal));
    width: 100%;
    padding: 30px var(--SlidePadding);
    margin: 0;
}
.content_type_clase_Majestic_CluesBae_dev #actividad .content .slide-concatenate .header .title {
    display: none
}
.content_type_clase_Majestic_CluesBae_dev #actividad .content .header .title h3 {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding:0;
    color: #fff;
    font-family: var(--TitleFont);
    font-size: calc(var(--MainText) * 1.44);
    font-weight: bold;
    text-align: left
}
.content_type_clase_Majestic_CluesBae_dev #actividad .content .header:after {
    content: "";
    position: relative;
    background-image: url(images/logoMajestic.png);
    width: 130px;
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
}

.content_type_clase_Majestic_CluesBae_dev #actividad .slide_content_type_1 .pregunta .texto_curso,
.content_type_clase_Majestic_CluesBae_dev #actividad .texto_curso,.html-book {
    font-size: 1.8rem
}
.texto_curso p:last-of-type {
    margin-bottom: 15px
}
.content_type_clase_Majestic_CluesBae_dev #actividad .texto_curso li,
.content_type_clase_Majestic_CluesBae_dev #actividad .workspace ul li li {
    margin-bottom: 10px
}
#actividad .class_slide {
    padding-top: 0
}
/*----------------------------------*/
/*Input*/
.content_type_clase_Majestic_CluesBae_dev .slide_main .img-input-container,
.content_type_clase_Majestic_CluesBae_dev .slide_main input {
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 0 0 rgba(0,0,0,.075);
    box-shadow: inset 0 0 0 rgba(0,0,0,.075);
    border: 2px solid rgb(var(--colorppal));
    border-radius: 3px;
}
.content_type_clase_Majestic_CluesBae_dev .slide_main .fill-text .img-input-container {
    display: none
}
.content_type_clase_Majestic_CluesBae_dev .slide_main .img-input-container:focus,
.content_type_clase_Majestic_CluesBae_dev .slide_main input:focus {
    border-color: rgba(var(--colorppal),0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.075) inset,0 0 8px rgba(133,200,57,0);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.075) inset,0 0 8px rgba(133,200,57,0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(133,200,57,0)
}
.content_type_clase_Majestic_CluesBae_dev .slide_main .img-input-container,
.content_type_clase_Majestic_CluesBae_dev .slide_main input[disabled],
.content_type_clase_Majestic_CluesBae_dev .slide_main input[readonly],
fieldset[disabled] .content_type_clase_Majestic_CluesBae_dev .slide_main input {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1
}
/*---------*/

.content_type_clase_Majestic_CluesBae_dev .slide_main .img-input-container.respuesta_ok,
.content_type_clase_Majestic_CluesBae_dev .slide_main input.respuesta_ok {
    border-color: #57e900;
    background: #d1f3bd
}

.content_type_clase_Majestic_CluesBae_dev .slide_main .img-input-container.respuesta_ko,
.content_type_clase_Majestic_CluesBae_dev .slide_main input.respuesta_ko {
    border-color: #ff3626;
    background: #ffa49d
}

.content_type_clase_Majestic_CluesBae_dev .slide_main .img-input-container.solucion,
.content_type_clase_Majestic_CluesBae_dev .slide_main input.solucion {
    border-color: #00bdff;
    background: #b6ecff
}

/*-------------------------*/
/*---- Navbar ----*/
.navbar-bottom {
    background: #D1D5DB;
}
.logo-publisher {
    display: none;
}
.edit .logo-publisher {
    display: none
}
#bottom-navigator li.active,#bottom-navigator li:hover {
    background: #923538
}
/*-------------*/

.btn-danger,.btn-danger[disabled] {
    background-color: rgb(var(--colorppal))
}

.btn-danger,.btn-danger[disabled],.btn-primary[disabled],.btn-primary[disabled]:focus {
    color: #fff;
    border-color: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.btn-primary[disabled],.btn-primary[disabled]:focus {
    background-color: #0051a0
}

.btn-primary {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.btn-primary.active,.btn-primary:not([disabled]):active,.btn-primary:not([disabled]):focus,.btn-primary:not([disabled]):hover,.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #be8889;
    opacity: 1;
    border-color: transparent
}

.btn-danger.active,.btn-danger:active,.btn-danger:focus,.btn-danger:hover,.open .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #be8889;
    border-color: transparent
}

.btn-next,.btn-next.disabled,.btn-next[disabled],.btn-solution,.btn-solution.disabled,.btn-solution[disabled] {
    color: #fff;
    background-color: #0051a0;
    border-color: transparent;
    border-radius: 5px
}

.btn-next:active,.btn-next:focus,.btn-next:hover,.btn-solution:active,.btn-solution:focus,.btn-solution:hover,.open .dropdown-toggle.btn-solution {
    color: #fff;
    background-color: #5e91c3;
    border-color: transparent
}

#actividad .content .review .attemps span {
    width: 35px;
    height: 35px;
    font-weight: 700;
    color: #fff;
    background-color: rgb(var(--colorppal));
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    padding: 6px 12px;
    margin: 0 3px;
    display: inline-block;
    line-height: 24px
}

.form-control:focus-within,.shortanswer-container .preview:focus .form-control:focus,.shortanswer-container input:focus,.shortanswer-container textarea:focus {
    border-color: rgba(146,53,56,.63);
    border-width: 2px;
    outline-width: 0;
    outline-style: none;
    -webkit-box-shadow: 0 1px 1px #dbc9c9 inset,0 0 8px #dbc9c9;
    -moz-box-shadow: 0 1px 1px #dbc9c9 inset,0 0 8px #dbc9c9;
    box-shadow: inset 0 1px 1px #dbc9c9,0 0 8px #dbc9c9
}

/*---------------------------------------------*/
/*------- ESTILOS CK-EDITOR ------------------*/
/*--------------------------------------------*/
/*-------- Titulos-------------*/
.bck-title-1,
.bck-title-2,
.bck-title-3 {
    font-family: var(--TitleFont);
    font-weight: bold;
}
.bck-title-1 {
    font-size: calc(var(--MainText) * 1.44); /*26px*/
}
.bck-title-2 {
    font-size: calc(var(--MainText) * 1.33); /*24px*/
}
.bck-title-3 {
    font-size: calc(var(--MainText) * 1.22); /*22px*/
}
.bck-title-4 {
    font-size: calc(var(--MainText) * 1.11); /*20px*/
}

/*----------- Estilo de parrafo ---------*/
#actividad p.bck-p-1 {
    font-size: calc(var(--MainText) * 1.11); /*20px*/
}

/*------------ Listas ordenadas -----------*/
.cke_contents .bck-ol,
.cke_contents ol,
.content .bck-ol,
.content ol {
    list-style-type: none;
    padding-left: 0;
    counter-reset: bck-li-counter
}
.cke_contents .bck-ol li,
.cke_contents ol li,
.content .bck-ol li,
.content ol li {
    list-style-type: none;
    padding-left: 30px;
    margin-bottom: 16px;
    counter-increment: bck-li-counter;
    position: relative;
    line-height: 1.1rem
}
.cke_contents .bck-ol li:before,
.cke_contents ol li:before,
.content .bck-ol li:before,
.content ol li:before {
    content: counter(bck-li-counter) ".";
    font-family: 'Outfit', sans-serif;
    position: absolute;
    top: 0;
    left: -16px;
    display: block;
    width: 50px;
    height: 24px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: transparent;
    color: #333;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    line-height: unset;
}
.cke_contents .bck-ol-1 li:before,
.content .bck-ol-1 li:before {
    color: rgb(var(--colorppal));
}
.cke_contents .bck-ol-2 li:before,
.content .bck-ol-2 li:before {
    color: rgb(238, 50, 41);
}
.cke_contents .bck-ol-3 li:before,
.content .bck-ol-3 li:before {
    color: rgb(0, 192, 243);
}
.cke_contents .bck-ol-4 li:before,
.content .bck-ol-4 li:before {
    color: green;
}
.cke_contents .bck-ol-5 li:before,
.content .bck-ol-5 li:before,
.cke_contents .bck-ol-6 li:before,
.content .bck-ol-6 li:before,
.cke_contents .bck-ol-7 li:before,
.content .bck-ol-7 li:before,
.cke_contents .bck-ol-8 li:before,
.content .bck-ol-8 li:before {
    content: counter(bck-li-counter, upper-roman) ".";
    color: rgb(var(--colorppal)); 
}
.cke_contents .bck-ol-6 li:before,
.content .bck-ol-6 li:before {
    color: rgb(238, 50, 41); 
}
.cke_contents .bck-ol-7 li:before,
.content .bck-ol-7 li:before {
    color: rgb(0, 192, 243);
}
.cke_contents .bck-ol-8 li:before,
.content .bck-ol-8 li:before {
    color: green;
}

.cke_contents .bck-ol-9 li:before,
.content .bck-ol-9 li:before,
.cke_contents .bck-ol-10 li:before,
.content .bck-ol-10 li:before,
.cke_contents .bck-ol-11 li:before,
.content .bck-ol-11 li:before,
.cke_contents .bck-ol-12 li:before,
.content .bck-ol-12 li:before {
    content: counter(bck-li-counter, lower-alpha) ".";
    color: rgb(var(--colorppal)); 
}
.cke_contents .bck-ol-10 li:before,
.content .bck-ol-10 li:before {
    color: rgb(238, 50, 41); 
}
.cke_contents .bck-ol-11 li:before,
.content .bck-ol-11 li:before {
    color: rgb(0, 192, 243);
}
.cke_contents .bck-ol-12 li:before,
.content .bck-ol-12 li:before {
    color: green;
}


/*------- Listas desordenadas ----------*/
.cke_contents ul li,
.texto_curso ul li,
 .workspace ul li ul li {
    padding-left: 16px;
    line-height: var(--MainLineHeight) !important;
}

.cke_contents ul li:before,.texto_curso ul li:before,
 .workspace ul li ul li:before {
    width: 4px;
    height: 4px
}

.cke_contents ul li:before,.texto_curso ul li:before,
.workspace ul li ul li:before {
    width: 6px;
    height: 6px;
    background-color: #414141
}
/*----------------------------------*/
/*------------- CAJAS --------------*/
.bck-box {
    border: 2px solid rgb(var(--colorppal));
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 25px;
    background: #fff;
    padding: 15px;
    margin: var(--MainMargin);
}
.bck-box-1 {
    border-color: rgb(215,73,12);
}

/*------- GRIDS ------------------*/
/*GRIDS - Reglas NUEVAS*/
.bck-row.row {
    margin: var(--MainMargin);
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0;
}
/*-------------------------*/

/*----- DESPLEGABLES ------*/
#actividad .bck-dropdown {
    width: 100%;
    margin: var(--MainMargin);
    background-color: transparent;
    border: 2px solid rgb(35,31, 32);
}
.bck-dropdown-button {
    cursor: pointer;
}
.bck-dropdown-titulo {
    font-size: calc(var(--MainText) * 1.11);
    padding-left: 10px;
}
.bck-dropdown-icon>.fa {
    border: 2px solid black;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    padding: 9px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.bck-dropdown-content {
    background-color: #e6e6e6;
}
/*-------------*/
/*------ Archivo adjunto -----*/
.bck-file-label,
.bck-sub-label {
    background: none;
    max-width: none;
    border: 2px solid rgb(var(--colorppal));
    color: rgb(var(--colorppal));
    margin-left: -3px;
    margin-bottom: 0;
    border-radius: 0;
    position: relative;
    padding: 5px 8px 5px 9px;
    border-radius: 5px;
}
.bck-file-attach:hover .bck-file-label,
.bck-file-attach:active .bck-file-label,
.bck-file-attach:focus .bck-file-label {
    background-color: rgba(var(--colorppal),0.1);
    border-color: transparent;
}

.bck-file-attach .bck-file-label:before {
    font-family: 'FontAwesome';
    content: "\f15b";
    position: relative;
    bottom: 0;
    left: 0;
    border: 0;
    background: none;
    margin-right: 5px;
}
.bck-file-attach img {
    display: none;
}
.bck-file-attach span {
    margin: var(--MainMargin);
}


/*------ FLIPBOX ----------*/
#actividad .bck-flipbox {
    width: 100%;
    font-size: var(--MainText);
    font-weight: normal;
    cursor: pointer;
    margin: var(--MainMargin);
}
/*-----*/

/*------ Popup -------*/
#actividad .info-button {
    margin: var(--MainMargin);
    color: rgb(rgb(var(--colorppal)));
    cursor: pointer;
}
/*-------*/

/*------ Tablas -----------*/
#actividad div:not(.calculo) > table:not(.rf-tablegrid):not(.puzzle) {
    width: 100%;
    border: solid 2px rgb(var(--main-color));
    font-size: var(--MainText);
    margin: var(--MainMargin);
}
/*------------*/


.content table:not(.rf-tablegrid) td,.content table:not(.rf-tablegrid) th {
    border: 3px solid #fff;
    padding: 10px;
    background: transparent
}

.content table:not(.rf-tablegrid) {
    border: 1px solid transparent;
    margin-bottom: 20px
}

#actividad .player.audio,#actividad .player.video,#help-panel-content .player,#remote-alert-modal-rich .player {
    height: 28px!important;
    width: 28px;
    display: inline-block;
    background-color: #333;
    background-image: url(../../../images/shared/multimedia-icons.png);
    background-repeat: no-repeat;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: 0 5px;
    vertical-align: sub
}

#actividad .player.audio {
    background: #333 url(../../../images/shared/multimedia-icons.png) 50% no-repeat;
    background-position: -29px -1px
}

.item-container .icon:before {
    content: "";
    background-repeat: no-repeat;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    background-position: 50%;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: 54px;
    margin-top: -16px
}

#actividad .info-button {
    -webkit-box-shadow: 1px 1px 3px 1px rgba(85,85,85,.55);
    -moz-box-shadow: 1px 1px 3px 1px rgba(85,85,85,.55);
    box-shadow: 1px 1px 3px 1px rgba(85,85,85,.55);
    border: 1px solid #000;
    cursor: pointer
}

.info-template.shown {
    background: #fff
}

.info-template .info-title.shown {
    color: #000;
    font-weight: 700
}

.info-template .info-icon {
    color: #000
}

.info-popover .popover-title,.popover-template .popover-title {
    color: #000;
    font-weight: 700
}

.fa-info:before,.info-popover .popover-title:before,.popover-template .popover-title:before {
    color: #000
}

body:not(.edit) .front .bck-flipbox-section,body:not(.edit) .front .bck-flipbox-title {
    color: #000;
    font-size: 18px
}

body:not(.edit) .bck-flipbox-face.front {
    color: #000;
    border-color: #000;
    -moz-box-shadow: 4px 6px 5px rgba(0,0,0,.26);
    -webkit-box-shadow: 4px 6px 5px rgba(0,0,0,.26);
    box-shadow: 4px 6px 5px rgba(0,0,0,.26)
}

body:not(.edit) .bck-flipbox-face.back {
    background-color: #000;
    border-color: #000;
    font-size: 18px
}

/*----------------------------------*/
/*------- PLANTILLAS -----------------*/

/*--- Marcar palabras ----*/
#actividad .markwords-word {
    line-height: var(--MainLineHeight) !important;
}
#actividad .markword-active,
#actividad .markword-correct,
#actividad .markword-false,
#actividad .markword-solution {
    line-height: var(--MainLineHeight) !important;
    padding: 0 4px !important;
    border: 2px solid rgb(35,31, 32) !important;
    border-radius: 5px !important;
    color: rgb(35,31, 32);
}


#actividad .workspace.matching .opciones .opcion:not(.ko):not(.ok),#actividad .workspace.multiple-choice .opcion,#actividad .workspace.ordenar .js-rank-item {
    border: 2px solid rgb(var(--colorppal));
    background: #fff
}

#actividad .workspace.matching .opciones .opcion.emparejado.destino {
    border-width: 2px 2px 2px 0
}

#actividad .workspace.matching .opciones .opcion.emparejado.origen {
    border-width: 2px 0 2px 2px
}

#actividad .workspace.clasificar .clasificar_lista .classify-item {
    border: 0 solid #d8d8d8
}

#actividad .workspace.clasificar .clasificar_conjuntos .conjunto .group-box {
    border: 2px solid rgb(var(--colorppal));
    padding-top: 10px
}

.fillblanks-draggable-wrapper .response {
    border: 0 solid #d8d8d8;
    background: #f5e6e6
}

.fillblanks-draggable-wrapper .response .bck-i-fullscreen-wrapper {
    padding: 0
}

body.content_type_clase_Majestic_CluesBae_dev #actividad .content .fillblanks-draggable-wrapper .response .bck-i-fullscreen,body.content_type_clase_Majestic_CluesBae_dev #actividad .content .fillblanks-draggable .img-input-container.imgFilled img {
    width: auto;
    height: 100px!important;
    padding: 0
}

.slide.crosswords-puzzle .enunciado,.slide.crosswords .enunciados .enunciado {
    padding: 0;
    font-size: 1.6rem;
    line-height: 2rem
}

.slide.crosswords-puzzle .enunciado:before,.slide.crosswords .enunciados .enunciado:before {
    content: counter(bck-li-counter) ".";
    position: absolute;
    top: -3px;
    left: -24px;
    display: block;
    width: 24px;
    height: 24px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: transparent;
    color: #333;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 2.5rem
}

#actividad .workspace.memory .front {
    z-index: 2;
    width: 120px;
    height: 140px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #d8d8d8;
    background: #fff url(imagenes/favicon.png) 50%/50px auto no-repeat;
    transition: all .5s ease
}

.rf-wordcontainer li .index {
    margin-right: 5px;
    font-weight: 700;
    font-size: 1.3rem
}

@media (max-width: 579px) {
    #actividad .carousel-inner .item-container {
        margin-top:0
    }
}

@media (max-width: 767px) {
    .navbar-bottom {
        padding-left:1em;
        padding-right: 1em;
        min-height: 43px
    }
}


/*------ AJUSTES  GENERALES ------------*/
/*Quitamos el margin-top de la slide en dispositivos pequeños*/
@media (max-width: 767px) {
   #actividad .carousel-inner .item-container {
        margin-top: 0;
    }
}

/*------*/
/*----- AJUSTES cuando se añade imagen de fondo ----------*/
#actividad .carousel-inner .item-container.aux-bckg .class_slide, #actividad .carousel-inner .item-container.aux-fullscreen.is-left .class_slide {
    padding-left: 0;
    padding-right: 0;
}

#actividad .carousel-inner .item-container.aux-fullscreen .class_slide, #actividad .carousel-inner .item-container.aux-bckg .class_slide {
    padding-left: 0;
    margin-left: 0;
}

#actividad .carousel-inner .item-container.aux-fullscreen.is-large .class_slide, #actividad .carousel-inner .item-container.aux-bckg.is-large .class_slide {
    width: 50%;
}

#actividad .carousel-inner .item-container.aux-bckg.is-large .slide_main {
    padding: 0 40px;
}

#actividad .carousel-inner .item-container.aux-bckg.is-large .header .title {
    padding: 20px 40px;
}

#actividad .carousel-inner .item-container.aux-bckg.is-medium .slide_main {
    padding: 0 40px;
}

#actividad .carousel-inner .item-container.aux-bckg.is-medium .header .title {
    padding: 20px 40px;
}

#actividad .carousel-inner .item-container.aux-bckg.is-small .slide_main {
    padding: 0 40px;
}

#actividad .carousel-inner .item-container.aux-bckg.is-small .header .title {
    padding: 20px 40px;
}

#actividad .carousel-inner .item-container.aux-fullscreen.is-bottom .class_slide, #actividad .carousel-inner .item-container.aux-fullscreen.is-top .class_slide, #actividad .carousel-inner .item-container.aux-fullscreen.is-right .class_slide {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 1023px) {
    #actividad .carousel-inner .item-container.aux-fullscreen, #actividad .carousel-inner .item-container.aux-bckg {
        padding-left: 0;
    }
}
/*--*/
/*------ AJUSTES EN EL NAVBAR -------*/
#bottom-navigator li {
    width: 15px;
    height: 15px;
}
.content-wrapper {
    padding-bottom: 75px;
}
.navbar-bottom {
    background: #D1D5DB;
}

.logo-publisher {
    display: none;
}
.edit .logo-publisher {
    display: none
}
#bottom-navigator li.active,
#bottom-navigator li:hover {
    background: rgb(var(--colorppal));
}

@media only screen and (max-width: 640px) {
    .logo-publisher {
        display: none;
    }

    .content-wrapper {
        padding-bottom: 42px;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .content_type_clase_Majestic_CluesBae_dev #actividad .content .header:after {
        display: none;
    }    
}

/*-------*/

/*------ AJUSTES EN EL TOC -----*/
/*Cambiamos la posición de la imagen del TOC para que se visualice el icono en móvil*/
#indice .unit-content .header {
    background-position: bottom;
}

/*-*/
/*----*/


